{{>header}}
<!-- END nav -->

<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_5.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center mb-5">
        <h1 class="mb-2 bread">Contacta con nosotros</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index">Principal <i class="fa fa-chevron-right"></i></a></span>
          <span>Contacto <i class="fa fa-chevron-right"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section bg-light">
  <div class="container">
    <div class="row d-flex contact-info">
      <div class="col-md-12">
        <h2 class="h4 font-weight-bold">Información de contacto</h2><br>
      </div>
      <div class="w-100"></div>
      <div class="col-md-4 d-flex">
       <div class="dbox">
         <p><span>Dirección:</span> <br>Calle Tulipán, s/n, 28933 Móstoles, Madrid</p>
       </div>
     </div>
     <div class="col-md-4 d-flex">
       <div class="dbox">
         <p><span>Teléfono:</span> <br><a href="tel://914889393">+34 914 88 93 93</a></p>
       </div>
     </div>
     <div class="col-md-4 d-flex">
       <div class="dbox">
         <p><span>Email:</span> <br><a href="mailto:info@yoursite.com">contacto@turestauranteencasa.com</a></p>
       </div>
     </div>
   </div>
 </div>
</section>
 <div class="container">
  <br>
<center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.295215567742!2d-3.879071784606537!3d40.33579667937471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e7adf68f543%3A0x841755428455a90b!2sUniversidad%20Rey%20Juan%20Carlos!5e0!3m2!1ses!2ses!4v1614364821386!5m2!1ses!2ses" width="1100" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe></center><br>
</div>

{{>footer}}