<!DOCTYPE html>
<meta charset="UTF-8"/>

{{>header}}

	<!-- END nav -->
	
	<section class="hero-wrap">
		<div class="home-slider owl-carousel js-fullheight">
			<div class="slider-item js-fullheight" style="background-image:url(images/bg_1.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate">
							<div class="text w-100 mt-5 text-center">
								<span class="subheading">Tu Restaurante en Casa</h2></span>
								<h1>En Tu Cocina Desde</h1>
								<span class="subheading-2">2021</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item js-fullheight" style="background-image:url(images/bg_2.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate">
							<div class="text w-100 mt-5 text-center">
								<span class="subheading">Tu Restaurante en Casa</h2></span>
								<h1>Mejor Calidad</h1>
								<span class="subheading-2 sub">Comida</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<span>Ya Estamos Abiertos</span>
					<h2>Comidas &amp; Mas</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-6 d-flex">
					<div class="img img-2 w-100 mr-md-2" style="background-image: url(images/bg_6.jpg);"></div>
					<div class="img img-2 w-100 ml-md-2" style="background-image: url(images/bg_4.jpg);"></div>
				</div>
				<div class="col-md-6 ftco-animate makereservation p-4 p-md-5">
					<div class="heading-section ftco-animate mb-5">
						<span class="subheading">Este Es Nuestro Secreto</span>
						<h2 class="mb-4">Productos Frescos</h2>
						<p>Tenemos un equipo de chefs con las más altas cualificaciones, los cuales están dispuestos a todo para servirte
						la mejor comida disponible.
						</p>
						<p>No se detendrán ante nada.
						</p>
						<p><a href="/team" class="btn btn-primary">Conocenos</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary">
		<div class="container py-5">
			<div class="row py-2">
				<div class="col-md-12 text-center">
					<h2>Te Hacemos Comida Sana &amp; Deliciosa</h2>
					<a href="/menu" class="btn btn-white btn-outline-white">Pide ya</a>
				</div>
			</div>
		</div>
	</section>

{{>footer}}	