<!DOCTYPE html>
<meta charset="UTF-8"/>

{{>header}}
	<!-- END nav -->
	
	<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_5.jpg');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate text-center mb-5">
					<h1 class="mb-2 bread">Carta</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href="/index">Principal <i class="fa fa-chevron-right"></i></a></span> <span>Carta <i class="fa fa-chevron-right"></i></span></p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-7 text-center heading-section ftco-animate">
					<span class="subheading">Especialidades</span>
					<h2 class="mb-4">Nuestra Carta</h2>
					{{#admin}}
					<a href="/add_food" class="btn btn-primary btn-sm">Añadir Plato</a>
					{{/admin}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="menu-wrap">
						<div class="heading-menu text-center ftco-animate">
							<h3>Desayuno</h3>
						</div>
					    {{#dishes1}}
					    <div class="menus d-flex ftco-animate">
							{{#image}}
 							<div class="menu-img img" style="background-image: url(/dishes/{{id}}/image);"></div>
 							{{/image}}			    
					    	{{^image}}
							<div class="menu-img img" style="background-image: url(images/drink-6.jpg);"></div>
							{{/image}}
							
							<div class="text">
								<div class="d-flex">
									<div class="one-half">
										<h3><a href="dishes/{{id}}">{{name}}</a></h3>
									</div>
									<div class="one-forth">
										<span class="price"><a href="dishes/{{id}}">{{dishPrice}}</a></span>
									</div>
								</div>
								<p>{{#ingredients}}
								{{name}}
								{{/ingredients}}</p>
								{{#logged}}
									{{^admin}}
									
									<form action="/adddish" method="post" enctype="multipart/form-data" class="appointment-form">
									 	 <input type="hidden" name="id" value="{{id}}" />
									 	 <input type="hidden" name="userName" value="{{userName}}" />
									 	 <input type="hidden" name="_csrf" value="{{token}}"/>
									  <p>
									    <input class="btn btn-primary" type="submit" value="Pedir" />
									  </p>
									</form>	
																	
									{{/admin}}
								{{/logged}}
							</div>
						</div>
  
						{{/dishes1}}
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="menu-wrap">
						<div class="heading-menu text-center ftco-animate">
							<h3>Comida</h3>

						</div>
						{{#dishes2}}
					    <div class="menus d-flex ftco-animate">
							{{#image}}
 							<div class="menu-img img" style="background-image: url(/dishes/{{id}}/image);"></div>
 							{{/image}}			    
					    	{{^image}}
							<div class="menu-img img" style="background-image: url(images/drink-6.jpg);"></div>
							{{/image}}
							
							<div class="text">
								<div class="d-flex">
									<div class="one-half">
										<h3><a href="dishes/{{id}}">{{name}}</a></h3>
									</div>
									<div class="one-forth">
										<span class="price"><a href="dishes/{{id}}">{{dishPrice}}</a></span>
									</div>
								</div>
								<p>{{#ingredients}}
								{{name}}
								{{/ingredients}}</p>
								{{#logged}}
									{{^admin}}
									
									<form action="/adddish" method="post" enctype="multipart/form-data" class="appointment-form">
									 	 <input type="hidden" name="id" value="{{id}}" />
									 	 <input type="hidden" name="userName" value="{{userName}}" />
									 	 <input type="hidden" name="_csrf" value="{{token}}"/>
									  <p>
									    <input class="btn btn-primary" type="submit" value="Pedir" />
									  </p>
									</form>	
																	
									{{/admin}}
								{{/logged}}
							</div>
						</div>
  
						{{/dishes2}}
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="menu-wrap">
						<div class="heading-menu text-center ftco-animate">
							<h3>Cena</h3>
						</div>
					
						{{#dishes3}}
					    <div class="menus d-flex ftco-animate">
							{{#image}}
 							<div class="menu-img img" style="background-image: url(/dishes/{{id}}/image);"></div>
 							{{/image}}			    
					    	{{^image}}
							<div class="menu-img img" style="background-image: url(images/drink-6.jpg);"></div>
							{{/image}}
							
							<div class="text">
								<div class="d-flex">
									<div class="one-half">
										<h3><a href="dishes/{{id}}">{{name}}</a></h3>
									</div>
									<div class="one-forth">
										<span class="price"><a href="dishes/{{id}}">{{dishPrice}}</a></span>
									</div>
								</div>
								<p>{{#ingredients}}
								{{name}}
								{{/ingredients}}</p>
								{{#logged}}
									{{^admin}}
									
									<form action="/adddish" method="post" enctype="multipart/form-data" class="appointment-form">
									 	 <input type="hidden" name="id" value="{{id}}" />
									 	 <input type="hidden" name="userName" value="{{userName}}" />
									 	 <input type="hidden" name="_csrf" value="{{token}}"/>
									  <p>
									    <input class="btn btn-primary" type="submit" value="Pedir" />
									  </p>
									</form>	
																	
									{{/admin}}
								{{/logged}}
							</div>
						</div>
  
						{{/dishes3}}
					</div>
				</div>
			</div>
		</div>

	</section>

{{>footer}}