{{>header}}

  <form action="/newdish" method="post" enctype="multipart/form-data">

					<p>Nombre del plato: </p>
		<input type='text' name='name'/>
		<p>Precio:</p>
		<input step="any" type="number" name='dishPrice'/>
		<p>Tipo:</p>
		<input type='text' name='category'/>
		<p>Ingredientes:</p>
		<textarea name='ingredient' rows=5 cols=40></textarea>
 

  <p>Image: </p>
  <input type='file' name='imageField' accept=".jpg, .jpeg" />

  <input type="hidden" name="_csrf" value="{{token}}"/>
  <p>
    <button onclick="location.href='/'; return false;">Cancel</button>
    <input type="submit" value="Save"/>
  </p>
  </form>
  
{{>footer}}